$font-color: #333 !default;
$font-alternative-color: rgb(237, 231, 231) !default;
// $accent-color: #f6dc5c;
// $background-color: #a5cfcc;
// $background-alternative-color: #e0fbfc;
// $light-blue: #9ea7a7;
// $darker-blue: #517876;
// $dark-red: #28190f;
// $medium-red: #bc6454;
// @font-face {
//   font-family: 'Amarante';
//   src: url("Amarante-Regular.ttf") format(ttf);
// }
// @font-face {
//   font-family: 'Limelight-Regular';
//   src: url("Limelight-Regular.ttf") format(ttf);
// }

// @font-face {
//   font-family: 'StardosStencil-Regular';
//   src: url('StardosStencil-Regular.ttf') format(ttf);
// }
// Rebel alliance
$head-foot-border: #66503d !default;
$head-foot-background: #c7a990 !default;
$main-background: #b3cdd1 !default;
$body: #3f8591 !default;
$accent-color: #e57316 !default;
