@use 'variables' as *;
// @import 'variables';

html,
body {
  height: 100%;
}

body {
  background-color: $body;
  line-height: 1.4;
  display: grid;
}
  
p {
  /*font-size: 1.25em;*/
  margin-bottom: 1.75rem;
}
  
// * {
//   color: variables.$font-color;
// }
  
// * {
//   font-family: 'StardosStencil-Regular';
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', sans-serif;
}
  
h1 {
  font-size: 2.8em;
  margin-bottom: 3.5rem;
}

.main {
  background-color: $main-background;
  color: $font-color;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 4em;
  width: 50%;
//   width: 64em;
  margin: 1.96rem auto;
  //   max-width: 64ch;
}

.article {
  background-color: $main-background;
  color: $font-color;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 4em;
  margin: 1.96rem auto;
  max-width: 64ch;
  min-width: 50%;
}

html {
  font-size: 100%;
}

.footer {
  background-color: $head-foot-background;
  color: $font-alternative-color;
  border-top: 4px solid $head-foot-border;
  text-align: center;
}

.social a {
  text-decoration: none;
}
  
.social {
  font-size: 3rem;
}

img,
embed,
object,
video {
  max-width: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 960px) {
  .main {
    width: auto;
  }
}
