@use 'variables' as *;
// @import 'variables';

html,
body {
  height: 100%;
}

body {
  background-color: $body;
  line-height: 1.4;
  display: grid;
}
  
p {
  /*font-size: 1.25em;*/
  margin-bottom: 1.75rem;
}
  
// * {
//   color: variables.$font-color;
// }
  
// * {
//   font-family: 'StardosStencil-Regular';
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Baskerville', sans-serif;
}
  
h1 {
  font-size: 2.8em;
  margin-bottom: 3.5rem;
}

.main {
  background-color: $main-background;
  color: $font-color;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 4em;
  width: 64em;
  margin: 1.96rem auto;
  // border: 6px solid variables.$lt-border;
}

html {
  font-size: 100%;
}

.footer {
  background-color: $head-foot-background;
  color: $font-alternative-color;
  border-top: 4px solid $head-foot-border;
  text-align: center;
}

.social a {
  text-decoration: none;
}
  
.social {
  font-size: 3rem;
}
  
