@use 'variables' as *;
// @import 'variables';

.site-header img {
  max-width: 80%;
  border-radius: 15%;
}

.site-header {
  display: flex;
  flex-direction: row;
}

.header {
  padding: 2em;
  background-color: $head-foot-background;
  color: $head-foot-link;
  border-bottom: 12px solid $head-foot-border;
}

.title {
  color: $head-foot-link;
  padding: 1em;
}

.title a,
.title a:visited,
.title h1,
.title p {
  color: $head-foot-link;
}

.active {
  background-color: $accent-color;
}

.active a {
  color: $accent-text;
}

@media (max-width: 767px) {
  .site-header {
    flex-direction: column;
  }
}
