@use 'variables' as *;
// @import 'variables';

.site-header img {
  max-width: 100%;
  border-radius: 15%;
}

.site-header {
  display: flex;
  flex-direction: row;
}

.header {
  padding: 2em;
  background-color: $head-foot-background;
  color: $font-alternative-color;
  border-bottom: 4px solid $head-foot-border;
}

.title {
  color: $font-alternative-color;
  padding: 1em;
}

.header.a,
a:visited {
  color: $font-alternative-color;
}

.active {
  background-color: $accent-color;
}

@media (max-width: 767px) {
  .site-header {
    flex-direction: column;
  }
}
