@use 'variables' as *;

nav {
  ul {
    padding: 4px;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 4px;
    text-decoration: none;
  }
}

.active {
  background-color: $accent-color;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $head-foot-background;
  overflow: auto;
  text-decoration: none;
  border-top: 4px solid $head-foot-border;
}

.a {
  color: $main-link;
  text-decoration: none;
  //   width: 16.6%;
}
