@use 'variables' as * with (
  $head-foot-link: #53ab6c,
  $main-link: #53ab6c,
  $font-color: rgb(237, 231, 231),

  $head-foot-border: #515151,
  $head-foot-background: #0f0f0f,
  $main-background: #2a2d2b,
  $body: #515151,
  $accent-color: #a42727,
  $accent-text: #FEFFCC,
);

@use '../../node_modules/normalize.css/normalize';

@use 'blockquotes';
@use 'code';
@use 'mobile-menu';

@use 'header';
@use 'navigation';
@use 'technology';
@use 'container';
@use 'test';
@use 'typography';
@use 'gallery';
@use 'table';

// @use url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
// @import 'variables-dark';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';


@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}
