@use 'variables' as *;

.load {
  border: 1px solid #333;
  background-color: rgb(237, 231, 231);
  color: #333;
  margin: 1em;
}

.load th,
.load td,
.load tr {
  border: 1px solid #333;
  color: #333;
}

.load th {
  background-color: rgb(237, 231, 231);
  color: #333;
}

.tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  .tables {
    flex-direction: column;
  }
}
