.old-fashioned {
  font-family: 'Amarante';
}



.modern {
  font-family: 'Limelight-Regular';
}

// .worst-ever {

// }

.article {
  max-width: 64ch;
}

// @media (min-width: 64em) {
//     .article {
//         width: auto;
//     }
// }
