
$font-color: #333 !default;
$font-alternative-color: rgb(237, 231, 231) !default;

$head-foot-border: #66503d !default;
$head-foot-background: #c7a990 !default;
$main-background: #b3cdd1 !default;
$body: #3f8591 !default;
$accent-color: #e57316 !default;
