
$font-color: #333 !default;
$head-foot-link: #fff !default;
$main-link: #670957 !default;
// $head-foot-border: #66503d !default;
$head-foot-border: #155a5a !default;

// $head-foot-background: #c7a990 !default;
$head-foot-background: #08323b !default;

$main-background: #b3cdd1 !default;
// $body: #3f8591 !default;
$body: #d2e0e2 !default;

$accent-color: #ec954b !default;
$accent-text: #000 !default;
