$font-color: #333;
$font-alternative-color: #fff;
$accent-color: #f6dc5c;
$background-color: #a5cfcc;
$background-alternative-color: #e0fbfc;
$light-blue: #9ea7a7;
$darker-blue: #517876;
$dark-red: #28190f;
$medium-red: #bc6454;
