
$font-alternative-color: #84efa2;
$font-color: rgb(237, 231, 231);

// $head-foot-border: #66503d;
$head-foot-border: #3e3e3e;

// $head-foot-background: #180606;
$head-foot-background: #060606;

// $main-background: #143c1f;
$main-background: #353635;

$body: #020603;
$accent-color: #d30404;
